# Analisis exploratorio Salarios en México.

## Explorando los datos.

En esta primera sección se ubican las funciones básicas para la carga de los datos que se utilizan para este proyecto.

El conjunto de datos empleados para este proyecto fueron extraidos de la página ["Datos abiertos de México: Salario mínimo 2023"](https://datos.gob.mx/busca/dataset/salario-minimo-2023) de datos.gob, los cuales se encuentran como ["Salarios Mínimos Generales y Profesionales 2009-2023 Zonas"](https://datos.gob.mx/busca/dataset/salario-minimo-2023/resource/89f07954-6ccd-4f97-8fb4-c644573e9f92).

## Carga de los conjunto de datos

Vamos a emplear los datos descargados en la sección de "Explorando los datos".

In [149]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [39]:
#Lectura de datos en Python. 
salarios = pd.read_csv("C:/Users/suare/Downloads/Salarios_Minimos_Generales_y_Profesionales_2009_2023_Zonas.csv") #Nos dirije al archivo.

In [40]:
salarios.head()

,inicio_vigencia,zona,salario_minimo_general,albanileria,archivista,boticas,buldozer,cajero,cajista,cantinero,...,talabartero,tablajero,tapicero_autos,tapicero_muebles,trabajador_hogar,trabajador_social,vaquero,velador,vendedor_piso,zapatero
0,01/01/2009,a,54.80,79.87,76.35,69.50,84.13,70.84,75.41,72.49,...,74.47,74.47,75.76,75.76,NaN,90.34,69.27,70.73,72.84,71.72
1,01/01/2009,b,53.26,77.81,74.29,67.65,81.74,69.11,73.52,70.53,...,72.47,72.47,73.93,73.93,NaN,87.84,67.47,68.70,70.99,69.94
2,01/01/2009,c,51.95,75.71,72.24,65.94,79.61,67.35,71.42,68.70,...,70.46,70.46,71.88,71.88,NaN,85.56,65.34,67.17,68.99,68.11
3,01/01/2010,a,57.46,83.74,NaN,72.87,88.21,74.28,79.07,76.01,...,78.08,78.08,79.43,79.43,NaN,94.72,72.63,74.16,76.37,75.20
4,01/01/2010,b,55.84,81.58,NaN,70.93,85.70,72.46,77.09,73.95,...,75.98,75.98,77.52,77.52,NaN,92.10,70.74,72.03,74.43,73.33

## Exploración de los datos

In [41]:
#Columnas de los datos 
salarios.columns

Index(['inicio_vigencia', 'zona', 'salario_minimo_general', 'albanileria',
       'archivista', 'boticas', 'buldozer', 'cajero', 'cajista', 'cantinero',
       'carpintero_obra', 'carpintero_muebles', 'cepilladora', 'cocinero',
       'colchones', 'mosaico', 'contador', 'yesero', 'fierrero',
       'cortador_calzado', 'costurero_taller', 'costurero_domicilio',
       'chofer_acomodador', 'chofer_camion', 'chofer_camioneta', 'chofer_grua',
       'draga', 'ebanista', 'electricista_instalaciones', 'electricista_autos',
       'electricista_motores', 'gondola', 'bodega', 'enfermero_auxiliar',
       'ferreterias', 'fogonero', 'gasolinero', 'herreria', 'hojalateria',
       'hornero', 'jornalero', 'joyero_oficial', 'joyero_domicilio',
       'laboratorios', 'linotipista', 'lubricador', 'maestro', 'manejador',
       'maquinaria_agricola', 'maquina_fundicion', 'maquina_troquelado',
       'maquina_madera', 'maquina_plastico', 'mecanico_fresador',
       'mecanico_rectificadora', 'mecanico_autos', 'mecanico_tornero',
       'moldero', 'montador_calzado', 'niquelado', 'peinador', 'perforista',
       'pintor_autos', 'pintor_casas', 'planchador', 'plomero',
       'prensa_offset', 'prensista', 'radiotecnico_electrico', 'recamarero',
       'recepcionista', 'refaccionaria_autos', 'reparador_hogar', 'reportero',
       'reportero_grafico', 'repostero', 'sastreria_domicilio', 'secretaria',
       'soldador_soplete', 'talabartero', 'tablajero', 'tapicero_autos',
       'tapicero_muebles', 'trabajador_hogar', 'trabajador_social', 'vaquero',
       'velador', 'vendedor_piso', 'zapatero'],
      dtype='object')

In [43]:
salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 89 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   inicio_vigencia             36 non-null     object
 1   zona                        36 non-null     object
 2   salario_minimo_general      36 non-null     float64
 3   albanileria                 36 non-null     float64
 4   archivista                  3 non-null      float64
 5   boticas                     36 non-null     float64
 6   buldozer                    36 non-null     float64
 7   cajero                      36 non-null     float64
 8   cajista                     16 non-null     float64
 9   cantinero                   36 non-null     float64
 10  carpintero_obra             23 non-null     float64
 11  carpintero_muebles          36 non-null     float64
 12  cepilladora                 3 non-null      float64
 13  cocinero                    36 non-null     float64
 14  colchones                   36 non-null     float64
 15  mosaico                     36 non-null     float64
 16  contador                    3 non-null      float64
 17  yesero                      36 non-null     float64
 18  fierrero                    3 non-null      float64
 19  cortador_calzado            36 non-null     float64
 20  costurero_taller            36 non-null     float64
 21  costurero_domicilio         36 non-null     float64
 22  chofer_acomodador           36 non-null     float64
 23  chofer_camion               36 non-null     float64
 24  chofer_camioneta            36 non-null     float64
 25  chofer_grua                 36 non-null     float64
 26  draga                       36 non-null     float64
 27  ebanista                    36 non-null     float64
 28  electricista_instalaciones  36 non-null     float64
 29  electricista_autos          36 non-null     float64
 30  electricista_motores        36 non-null     float64
 31  gondola                     36 non-null     float64
 32  bodega                      36 non-null     float64
 33  enfermero_auxiliar          16 non-null     float64
 34  ferreterias                 36 non-null     float64
 35  fogonero                    36 non-null     float64
 36  gasolinero                  36 non-null     float64
 37  herreria                    36 non-null     float64
 38  hojalateria                 36 non-null     float64
 39  hornero                     9 non-null      float64
 40  jornalero                   6 non-null      float64
 41  joyero_oficial              16 non-null     float64
 42  joyero_domicilio            16 non-null     float64
 43  laboratorios                3 non-null      float64
 44  linotipista                 16 non-null     float64
 45  lubricador                  36 non-null     float64
 46  maestro                     16 non-null     float64
 47  manejador                   36 non-null     float64
 48  maquinaria_agricola         36 non-null     float64
 49  maquina_fundicion           3 non-null      float64
 50  maquina_troquelado          3 non-null      float64
 51  maquina_madera              36 non-null     float64
 52  maquina_plastico            3 non-null      float64
 53  mecanico_fresador           3 non-null      float64
 54  mecanico_rectificadora      3 non-null      float64
 55  mecanico_autos              36 non-null     float64
 56  mecanico_tornero            14 non-null     float64
 57  moldero                     14 non-null     float64
 58  montador_calzado            36 non-null     float64
 59  niquelado                   14 non-null     float64
 60  peinador                    36 non-null     float64
 61  perforista                  16 non-null     float64
 62  pintor_autos                36 non-null     float64
 63  pintor_casas                36 non-null     float64
 64  planchador                  36 non-null     float64
 65  plomero                     36 non-null     float64
 66  prensa_offset               16 non-null     float64
 67  prensista                   16 non-null     float64
 68  radiotecnico_electrico      36 non-null     float64
 69  recamarero                  36 non-null     float64
 70  recepcionista               6 non-null      float64
 71  refaccionaria_autos         36 non-null     float64
 72  reparador_hogar             36 non-null     float64
 73  reportero                   36 non-null     float64
 74  reportero_grafico           36 non-null     float64
 75  repostero                   36 non-null     float64
 76  sastreria_domicilio         36 non-null     float64
 77  secretaria                  36 non-null     float64
 78  soldador_soplete            36 non-null     float64
 79  talabartero                 9 non-null      float64
 80  tablajero                   36 non-null     float64
 81  tapicero_autos              36 non-null     float64
 82  tapicero_muebles            36 non-null     float64
 83  trabajador_hogar            6 non-null      float64
 84  trabajador_social           36 non-null     float64
 85  vaquero                     36 non-null     float64
 86  velador                     36 non-null     float64
 87  vendedor_piso               36 non-null     float64
 88  zapatero                    36 non-null     float64
dtypes: float64(87), object(2)
memory usage: 25.2+ KB

In [71]:
salarios.describe()

,salario_minimo_general,albanileria,archivista,boticas,buldozer,cajero,cajista,cantinero,carpintero_obra,carpintero_muebles,...,talabartero,tablajero,tapicero_autos,tapicero_muebles,trabajador_hogar,trabajador_social,vaquero,velador,vendedor_piso,zapatero
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,16.000000,36.000000,23.000000,36.000000,...,9.000000,36.000000,36.000000,36.000000,6.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,98.495000,122.180000,74.293333,110.749167,126.813889,112.308056,80.188125,114.036111,141.603913,120.503889,...,75.847778,116.169722,117.677222,117.677222,225.598333,133.667222,110.391111,112.121389,114.365556,113.233611
std,66.006823,58.358635,0.491239,60.066648,57.851816,59.782657,4.942136,59.537515,65.831288,58.601643,...,3.398944,59.209548,58.947552,58.947552,55.558951,57.202374,60.171094,59.840489,59.494915,59.635220
min,51.950000,75.710000,72.240000,65.940000,79.610000,67.350000,71.420000,68.700000,70.460000,74.190000,...,70.460000,70.460000,71.880000,71.880000,154.030000,85.560000,65.340000,67.170000,68.990000,68.110000
25%,59.080000,86.100000,74.293333,74.990000,90.540000,76.610000,76.670000,78.130000,98.780000,84.380000,...,73.880000,80.140000,81.760000,81.760000,194.287500,97.310000,74.320000,76.400000,78.470000,77.460000
50%,66.870000,97.450000,74.293333,84.840000,102.575000,86.595000,80.735000,88.455000,110.640000,95.575000,...,75.980000,90.785000,92.505000,92.505000,219.445000,110.180000,84.325000,86.395000,88.840000,87.580000
75%,107.815000,126.060000,74.293333,110.152500,132.580000,112.260000,83.812500,114.780000,181.140000,123.802500,...,78.080000,117.757500,119.732500,119.732500,251.630000,142.037500,109.800000,112.077500,115.307500,113.565000
max,312.410000,312.410000,76.350000,312.410000,312.410000,312.410000,89.120000,312.410000,312.410000,312.410000,...,81.280000,312.410000,312.410000,312.410000,312.410000,312.410000,312.410000,312.410000,312.410000,312.410000

## Tratamiento de los datos

In [77]:
#Sacamos el promedio de la columna archivista
promedio_archivista = salarios['archivista'].mean()
print (promedio_variable)

74.29333333333335

In [73]:
#Agregamos los datos faltantes con el promedio de la variable
salarios['archivista'] = salarios['archivista'].fillna(74.29333333333334)
#Confirmamos que hayan sido cargados
print(salarios['archivista'])

0     76.350000
1     74.290000
2     72.240000
3     74.293333
4     74.293333
5     74.293333
6     74.293333
7     74.293333
8     74.293333
9     74.293333
10    74.293333
11    74.293333
12    74.293333
13    74.293333
14    74.293333
15    74.293333
16    74.293333
17    74.293333
18    74.293333
19    74.293333
20    74.293333
21    74.293333
22    74.293333
23    74.293333
24    74.293333
25    74.293333
26    74.293333
27    74.293333
28    74.293333
29    74.293333
30    74.293333
31    74.293333
32    74.293333
33    74.293333
34    74.293333
35    74.293333
Name: archivista, dtype: float64

In [78]:
promedio_cajista = salarios['cajista'].mean()
print (promedio_cajista)

80.188125

In [79]:
salarios['cajista'] = salarios['cajista'].fillna(80.188125)

In [87]:
promedio_co = salarios['carpintero_obra'].mean()
print (promedio_co)

141.60391304347826

In [88]:
salarios['carpintero_obra'] = salarios ['carpintero_obra'].fillna(141.60391304347826)

In [89]:
promedio_cepilladora = salarios['cepilladora'].mean()
print (promedio_cepilladora)

73.85666666666667

In [90]:
salarios['cepilladora'] = salarios['cepilladora'].fillna(73.85666666666667)

In [94]:
promedio_contador = salarios['contador'].mean()
print (promedio_contador)

74.89333333333333

In [95]:
salarios['contador'] = salarios['contador'].fillna(74.89333333333333)

In [97]:
promedio_fierrero = salarios['fierrero'].mean()
print (promedio_fierrero)

75.56

In [98]:
salarios['fierrero'] = salarios['fierrero'].fillna(75.56)

In [100]:
promedio_enfermeroaux = salarios['enfermero_auxiliar'].mean()
print (promedio_enfermeroaux)

79.12312499999999

In [101]:
salarios['enfermero_auxiliar'] = salarios['enfermero_auxiliar'].fillna(79.12312499999999)

In [103]:
promedio_hornero = salarios['hornero'].mean()
print (promedio_hornero)

81.9588888888889

In [104]:
salarios['hornero'] = salarios['hornero'].fillna(81.9588888888889)

In [106]:
promedio_jornalero = salarios['jornalero'].mean()
print (promedio_jornalero)

229.38

In [108]:
salarios['jornalero'] = salarios['jornalero'].fillna(229.38)

In [110]:
promedio_joyeroof = salarios['joyero_oficial'].mean()
print (promedio_joyeroof)

79.12312499999999

In [111]:
salarios['joyero_oficial'] = salarios['joyero_oficial'].fillna(79.12312499999999)

In [113]:
promedio_joyerodom = salarios['joyero_domicilio'].mean()
print (promedio_joyerodom)

82.56

In [114]:
salarios['joyero_domicilio'] = salarios['joyero_domicilio'].fillna(82.56)

In [116]:
promedio_laboratorios = salarios['laboratorios'].mean()
print (promedio_laboratorios)

71.44666666666666

In [117]:
salarios['laboratorios'] = salarios['laboratorios'].fillna(71.44666666666666)

In [119]:
promedio_linotipista = salarios['linotipista'].mean()
print (promedio_linotipista)

88.173125

In [120]:
salarios['linotipista'] = salarios['linotipista'].fillna(88.173125)

In [124]:
promedio_maestro = salarios['maestro'].mean()
print (promedio_maestro)

89.74249999999999

In [125]:
salarios['maestro'] = salarios['maestro'].fillna(89.7425)

In [127]:
promedio_maquinafun = salarios['maquina_fundicion'].mean()
print (promedio_maquinafun)

70.57333333333332

In [128]:
salarios['maquina_fundicion'] = salarios['maquina_fundicion'].fillna(70.57333333333332)

In [130]:
promedio_maquinatro = salarios['maquina_troquelado'].mean()
print (promedio_maquinatro)

70.19666666666667

In [131]:
salarios['maquina_troquelado'] = salarios['maquina_troquelado'].fillna(70.19666666666667)

In [133]:
promedio_maquinapla = salarios['maquina_plastico'].mean()
print (promedio_maquinapla)

68.86666666666667

In [134]:
salarios['maquina_plastico'] = salarios['maquina_plastico'].fillna(68.86666666666667)

In [138]:
promedio_mecaniofre = salarios['mecanico_fresador'].mean()
print (promedio_mecaniofre)

78.46333333333332

In [140]:
salarios['mecanico_fresador'] = salarios['mecanico_fresador'].fillna(78.46333333333332)

In [142]:
promedio_mecanicorec = salarios['mecanico_rectificadora'].mean()
print (promedio_mecanicorec)

75.62666666666667

In [143]:
salarios['mecanico_rectificadora'] = salarios['mecanico_rectificadora'].fillna(75.62666666666667)

In [145]:
promedio_mecanicotor = salarios['mecanico_tornero'].mean()
print (promedio_mecanicotor)

81.59500000000001

In [146]:
salarios['mecanico_tornero'] = salarios['mecanico_tornero'].fillna(81.59500000000001)

In [150]:
promedio_moldero = salarios['moldero'].mean()
print (promedio_moldero)

79.6907142857143

In [152]:
salarios['moldero'] = salarios['moldero'].fillna(79.6907142857143)

In [154]:
promedio_niquelado = salarios['niquelado'].mean()
print (promedio_niquelado)

79.25

In [166]:
salarios['niquelado'] = salarios['niquelado'].fillna(79.25)

In [167]:
promedio_perforista = salarios['perforista'].mean()
print (promedio_perforista)

83.85187499999999

In [168]:
salarios['perforista'] = salarios['perforista'].fillna(83.851875)

In [169]:
promedio_prensaoff = salarios['prensa_offset'].mean()
print (promedio_prensaoff)

84.93687499999997

In [170]:
salarios['prensa_offset'] = salarios['prensa_offset'].fillna(84.93687499999999)

In [171]:
promedio_prensista = salarios['prensista'].mean()
print (promedio_prensista)

79.123125

In [172]:
salarios['prensista'] = salarios['prensista'].fillna(79.12312499999999)

In [174]:
promedio_recepcionista = salarios['recepcionista'].mean()
print (promedio_recepcionista)

71.13666666666667

In [175]:
salarios['recepcionista'] = salarios['recepcionista'].fillna(71.13666666666667)

In [177]:
promedio_talabartero = salarios['talabartero'].mean()
print (promedio_talabartero)

75.84777777777778

In [178]:
salarios['talabartero'] = salarios['talabartero'].fillna(75.84777777777778)

In [180]:
promedio_trabajadorhog = salarios['trabajador_hogar'].mean()
print (promedio_trabajadorhog)

225.59833333333333

In [181]:
salarios['trabajador_hogar'] = salarios['trabajador_hogar'].fillna(225.59833333333333)

In [182]:
salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 89 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   inicio_vigencia             36 non-null     object
 1   zona                        36 non-null     object
 2   salario_minimo_general      36 non-null     float64
 3   albanileria                 36 non-null     float64
 4   archivista                  36 non-null     float64
 5   boticas                     36 non-null     float64
 6   buldozer                    36 non-null     float64
 7   cajero                      36 non-null     float64
 8   cajista                     36 non-null     float64
 9   cantinero                   36 non-null     float64
 10  carpintero_obra             36 non-null     float64
 11  carpintero_muebles          36 non-null     float64
 12  cepilladora                 36 non-null     float64
 13  cocinero                    36 non-null     float64
 14  colchones                   36 non-null     float64
 15  mosaico                     36 non-null     float64
 16  contador                    36 non-null     float64
 17  yesero                      36 non-null     float64
 18  fierrero                    36 non-null     float64
 19  cortador_calzado            36 non-null     float64
 20  costurero_taller            36 non-null     float64
 21  costurero_domicilio         36 non-null     float64
 22  chofer_acomodador           36 non-null     float64
 23  chofer_camion               36 non-null     float64
 24  chofer_camioneta            36 non-null     float64
 25  chofer_grua                 36 non-null     float64
 26  draga                       36 non-null     float64
 27  ebanista                    36 non-null     float64
 28  electricista_instalaciones  36 non-null     float64
 29  electricista_autos          36 non-null     float64
 30  electricista_motores        36 non-null     float64
 31  gondola                     36 non-null     float64
 32  bodega                      36 non-null     float64
 33  enfermero_auxiliar          36 non-null     float64
 34  ferreterias                 36 non-null     float64
 35  fogonero                    36 non-null     float64
 36  gasolinero                  36 non-null     float64
 37  herreria                    36 non-null     float64
 38  hojalateria                 36 non-null     float64
 39  hornero                     36 non-null     float64
 40  jornalero                   36 non-null     float64
 41  joyero_oficial              36 non-null     float64
 42  joyero_domicilio            36 non-null     float64
 43  laboratorios                36 non-null     float64
 44  linotipista                 36 non-null     float64
 45  lubricador                  36 non-null     float64
 46  maestro                     36 non-null     float64
 47  manejador                   36 non-null     float64
 48  maquinaria_agricola         36 non-null     float64
 49  maquina_fundicion           36 non-null     float64
 50  maquina_troquelado          36 non-null     float64
 51  maquina_madera              36 non-null     float64
 52  maquina_plastico            36 non-null     float64
 53  mecanico_fresador           36 non-null     float64
 54  mecanico_rectificadora      36 non-null     float64
 55  mecanico_autos              36 non-null     float64
 56  mecanico_tornero            36 non-null     float64
 57  moldero                     36 non-null     float64
 58  montador_calzado            36 non-null     float64
 59  niquelado                   36 non-null     float64
 60  peinador                    36 non-null     float64
 61  perforista                  36 non-null     float64
 62  pintor_autos                36 non-null     float64
 63  pintor_casas                36 non-null     float64
 64  planchador                  36 non-null     float64
 65  plomero                     36 non-null     float64
 66  prensa_offset               36 non-null     float64
 67  prensista                   36 non-null     float64
 68  radiotecnico_electrico      36 non-null     float64
 69  recamarero                  36 non-null     float64
 70  recepcionista               36 non-null     float64
 71  refaccionaria_autos         36 non-null     float64
 72  reparador_hogar             36 non-null     float64
 73  reportero                   36 non-null     float64
 74  reportero_grafico           36 non-null     float64
 75  repostero                   36 non-null     float64
 76  sastreria_domicilio         36 non-null     float64
 77  secretaria                  36 non-null     float64
 78  soldador_soplete            36 non-null     float64
 79  talabartero                 36 non-null     float64
 80  tablajero                   36 non-null     float64
 81  tapicero_autos              36 non-null     float64
 82  tapicero_muebles            36 non-null     float64
 83  trabajador_hogar            36 non-null     float64
 84  trabajador_social           36 non-null     float64
 85  vaquero                     36 non-null     float64
 86  velador                     36 non-null     float64
 87  vendedor_piso               36 non-null     float64
 88  zapatero                    36 non-null     float64
dtypes: float64(87), object(2)
memory usage: 25.2+ KB

In [184]:
#Confirmamos que no hayan datos nulos.
datos_nulos = salarios.isnull()
print(datos_nulos)

    inicio_vigencia   zona  salario_minimo_general  albanileria  archivista  \
0             False  False                   False        False       False
1             False  False                   False        False       False
2             False  False                   False        False       False
3             False  False                   False        False       False
4             False  False                   False        False       False
5             False  False                   False        False       False
6             False  False                   False        False       False
7             False  False                   False        False       False
8             False  False                   False        False       False
9             False  False                   False        False       False
10            False  False                   False        False       False
11            False  False                   False        False       False
12            False  False                   False        False       False
13            False  False                   False        False       False
14            False  False                   False        False       False
15            False  False                   False        False       False
16            False  False                   False        False       False
17            False  False                   False        False       False
18            False  False                   False        False       False
19            False  False                   False        False       False
20            False  False                   False        False       False
21            False  False                   False        False       False
22            False  False                   False        False       False
23            False  False                   False        False       False
24            False  False                   False        False       False
25            False  False                   False        False       False
26            False  False                   False        False       False
27            False  False                   False        False       False
28            False  False                   False        False       False
29            False  False                   False        False       False
30            False  False                   False        False       False
31            False  False                   False        False       False
32            False  False                   False        False       False
33            False  False                   False        False       False
34            False  False                   False        False       False
35            False  False                   False        False       False

    boticas  buldozer  cajero  cajista  cantinero  ...  talabartero  \
0     False     False   False    False      False  ...        False
1     False     False   False    False      False  ...        False
2     False     False   False    False      False  ...        False
3     False     False   False    False      False  ...        False
4     False     False   False    False      False  ...        False
5     False     False   False    False      False  ...        False
6     False     False   False    False      False  ...        False
7     False     False   False    False      False  ...        False
8     False     False   False    False      False  ...        False
9     False     False   False    False      False  ...        False
10    False     False   False    False      False  ...        False
11    False     False   False    False      False  ...        False
12    False     False   False    False      False  ...        False
13    False     False   False    False      False  ...        False
14    False     False   False    False      False  ...        False
15    False     False   False    False      False  ...        False
16    False     False   False    False      False  ...        False
17    False     False   False    False      False  ...        False
18    False     False   False    False      False  ...        False
19    False     False   False    False      False  ...        False
20    False     False   False    False      False  ...        False
21    False     False   False    False      False  ...        False
22    False     False   False    False      False  ...        False
23    False     False   False    False      False  ...        False
24    False     False   False    False      False  ...        False
25    False     False   False    False      False  ...        False
26    False     False   False    False      False  ...        False
27    False     False   False    False      False  ...        False
28    False     False   False    False      False  ...        False
29    False     False   False    False      False  ...        False
30    False     False   False    False      False  ...        False
31    False     False   False    False      False  ...        False
32    False     False   False    False      False  ...        False
33    False     False   False    False      False  ...        False
34    False     False   False    False      False  ...        False
35    False     False   False    False      False  ...        False

    tablajero  tapicero_autos  tapicero_muebles  trabajador_hogar  \
0       False           False             False             False
1       False           False             False             False
2       False           False             False             False
3       False           False             False             False
4       False           False             False             False
5       False           False             False             False
6       False           False             False             False
7       False           False             False             False
8       False           False             False             False
9       False           False             False             False
10      False           False             False             False
11      False           False             False             False
12      False           False             False             False
13      False           False             False             False
14      False           False             False             False
15      False           False             False             False
16      False           False             False             False
17      False           False             False             False
18      False           False             False             False
19      False           False             False             False
20      False           False             False             False
21      False           False             False             False
22      False           False             False             False
23      False           False             False             False
24      False           False             False             False
25      False           False             False             False
26      False           False             False             False
27      False           False             False             False
28      False           False             False             False
29      False           False             False             False
30      False           False             False             False
31      False           False             False             False
32      False           False             False             False
33      False           False             False             False
34      False           False             False             False
35      False           False             False             False

    trabajador_social  vaquero  velador  vendedor_piso  zapatero
0               False    False    False          False     False
1               False    False    False          False     False
2               False    False    False          False     False
3               False    False    False          False     False
4               False    False    False          False     False
5               False    False    False          False     False
6               False    False    False          False     False
7               False    False    False          False     False
8               False    False    False          False     False
9               False    False    False          False     False
10              False    False    False          False     False
11              False    False    False          False     False
12              False    False    False          False     False
13              False    False    False          False     False
14              False    False    False          False     False
15              False    False    False          False     False
16              False    False    False          False     False
17              False    False    False          False     False
18              False    False    False          False     False
19              False    False    False          False     False
20              False    False    False          False     False
21              False    False    False          False     False
22              False    False    False          False     False
23              False    False    False          False     False
24              False    False    False          False     False
25              False    False    False          False     False
26              False    False    False          False     False
27              False    False    False          False     False
28              False    False    False          False     False
29              False    False    False          False     False
30              False    False    False          False     False
31              False    False    False          False     False
32              False    False    False          False     False
33              False    False    False          False     False
34              False    False    False          False     False
35              False    False    False          False     False

[36 rows x 89 columns]

In [196]:
salarios_redondeado = salarios.round(2)
print(salarios_redondeado)

   inicio_vigencia          zona  salario_minimo_general  albanileria  \
0       01/01/2009             a                   54.80        79.87
1       01/01/2009             b                   53.26        77.81
2       01/01/2009             c                   51.95        75.71
3       01/01/2010             a                   57.46        83.74
4       01/01/2010             b                   55.84        81.58
5       01/01/2010             c                   54.47        79.38
6       01/01/2011             a                   59.82        87.17
7       01/01/2011             b                   58.13        84.92
8       01/01/2011             c                   56.70        82.63
9       01/01/2012             a                   62.33        90.83
10      01/01/2012             b                   60.57        88.49
11      01/01/2012             c                   59.08        86.10
12      27/11/2012             a                   62.33        90.83
13      27/11/2012             b                   59.08        86.10
14      01/01/2013             a                   64.76        94.37
15      01/01/2013             b                   61.38        89.46
16      01/01/2014             a                   67.29        98.05
17      01/01/2014             b                   63.77        92.95
18      01/01/2015             a                   70.10       102.20
19      01/01/2015             b                   66.45        96.85
20      01/04/2015             a                   70.10       102.20
21      01/04/2015             b                   68.28        99.51
22      01/10/2015         unica                   70.10       102.20
23      01/01/2016         unica                   73.04       106.49
24      01/01/2017         unica                   80.04       110.64
25      01/12/2017         unica                   88.36       114.95
26      01/01/2019  restodelpais                  102.68       120.70
27      01/01/2019          zlfn                  176.72       176.72
28      01/01/2020  restodelpais                  123.22       142.14
29      01/01/2020          zlfn                  185.56       185.56
30      01/01/2021  restodelpais                  141.70       163.46
31      01/01/2021          zlfn                  213.39       213.39
32      01/01/2022  restodelpais                  172.87       199.42
33      01/01/2022          zlfn                  260.34       260.34
34      01/01/2023  restodelpais                  207.44       239.31
35      01/01/2023          zlfn                  312.41       312.41

    archivista  boticas  buldozer  cajero  cajista  cantinero  ...  \
0        76.35    69.50     84.13   70.84    75.41      72.49  ...
1        74.29    67.65     81.74   69.11    73.52      70.53  ...
2        72.24    65.94     79.61   67.35    71.42      68.70  ...
3        74.29    72.87     88.21   74.28    79.07      76.01  ...
4        74.29    70.93     85.70   72.46    77.09      73.95  ...
5        74.29    69.14     83.47   70.62    74.88      72.03  ...
6        74.29    75.86     91.83   77.33    82.31      79.13  ...
7        74.29    73.84     89.21   75.43    80.25      76.98  ...
8        74.29    71.97     86.89   73.52    77.95      74.98  ...
9        74.29    79.05     95.69   80.58    85.77      82.45  ...
10       74.29    76.94     92.96   78.60    83.62      80.21  ...
11       74.29    74.99     90.54   76.61    81.22      78.13  ...
12       74.29    79.05     95.69   80.58    85.77      82.45  ...
13       74.29    74.99     90.54   76.61    81.22      78.13  ...
14       74.29    82.13     99.42   83.72    89.12      85.67  ...
15       74.29    77.91     94.07   79.60    84.39      81.18  ...
16       74.29    85.33    103.30   86.99    80.19      89.01  ...
17       74.29    80.95     97.74   82.70    80.19      84.35  ...
18       74.29    88.90    107.65   90.65    80.19      92.75  ...
19       74.29    84.35    101.85   86.20    80.19      87.90  ...
20       74.29    88.90    107.65   90.65    80.19      92.75  ...
21       74.29    86.67    104.65   88.57    80.19      90.31  ...
22       74.29    88.90    107.65   90.65    80.19      92.75  ...
23       74.29    92.63    112.17   94.46    80.19      96.65  ...
24       74.29    96.24    116.54   98.14    80.19     100.42  ...
25       74.29    99.99    121.09  101.97    80.19     104.34  ...
26       74.29   104.99    127.14  107.07    80.19     109.56  ...
27       74.29   176.72    176.72  176.72    80.19     176.72  ...
28       74.29   125.64    148.90  127.83    80.19     130.44  ...
29       74.29   185.56    185.56  185.56    80.19     185.56  ...
30       74.29   144.49    171.24  147.00    80.19     150.01  ...
31       74.29   213.39    213.39  213.39    80.19     213.39  ...
32       74.29   176.28    208.91  179.34    80.19     183.01  ...
33       74.29   260.34    260.34  260.34    80.19     260.34  ...
34       74.29   211.53    250.70  215.21    80.19     219.61  ...
35       74.29   312.41    312.41  312.41    80.19     312.41  ...

    talabartero  tablajero  tapicero_autos  tapicero_muebles  \
0         74.47      74.47           75.76             75.76
1         72.47      72.47           73.93             73.93
2         70.46      70.46           71.88             71.88
3         78.08      78.08           79.43             79.43
4         75.98      75.98           77.52             77.52
5         73.88      73.88           75.37             75.37
6         81.28      81.28           82.69             82.69
7         79.10      79.10           80.70             80.70
8         76.91      76.91           78.46             78.46
9         75.85      84.69           86.16             86.16
10        75.85      82.42           84.09             84.09
11        75.85      80.14           81.76             81.76
12        75.85      84.69           86.16             86.16
13        75.85      80.14           81.76             81.76
14        75.85      87.99           89.52             89.52
15        75.85      83.27           84.95             84.95
16        75.85      91.42           93.01             93.01
17        75.85      86.52           88.26             88.26
18        75.85      95.25           96.90             96.90
19        75.85      90.15           92.00             92.00
20        75.85      95.25           96.90             96.90
21        75.85      92.63           94.53             94.53
22        75.85      95.25           96.90             96.90
23        75.85      99.25          100.97            100.97
24        75.85     103.12          104.91            104.91
25        75.85     107.14          109.00            109.00
26        75.85     112.50          114.45            114.45
27        75.85     176.72          176.72            176.72
28        75.85     133.53          135.58            135.58
29        75.85     185.56          185.56            185.56
30        75.85     153.56          155.92            155.92
31        75.85     213.39          213.39            213.39
32        75.85     187.34          190.22            190.22
33        75.85     260.34          260.34            260.34
34        75.85     224.81          228.27            228.27
35        75.85     312.41          312.41            312.41

    trabajador_hogar  trabajador_social  vaquero  velador  vendedor_piso  \
0             225.60              90.34    69.27    70.73          72.84
1             225.60              87.84    67.47    68.70          70.99
2             225.60              85.56    65.34    67.17          68.99
3             225.60              94.72    72.63    74.16          76.37
4             225.60              92.10    70.74    72.03          74.43
5             225.60              89.71    68.51    70.43          72.34
6             225.60              98.60    75.61    77.20          79.50
7             225.60              95.88    73.64    74.98          77.48
8             225.60              93.39    71.32    73.32          75.31
9             225.60             102.74    78.79    80.44          82.84
10            225.60              99.91    76.73    78.13          80.73
11            225.60              97.31    74.32    76.40          78.47
12            225.60             102.74    78.79    80.44          82.84
13            225.60              97.31    74.32    76.40          78.47
14            225.60             106.75    81.86    83.58          86.07
15            225.60             101.11    77.22    79.38          81.53
16            225.60             110.91    85.05    86.84          89.43
17            225.60             105.05    80.23    82.48          84.71
18            225.60             115.55    88.60    90.50          93.20
19            225.60             109.45    83.60    85.95          88.25
20            225.60             115.55    88.60    90.50          91.20
21            225.60             112.46    85.90    88.31          90.67
22            225.60             115.55    88.60    90.50          93.20
23            225.60             120.40    92.32    94.30          97.11
24            225.60             125.10    95.92    97.98         100.90
25            225.60             129.98    99.60   101.80         104.84
26            225.60             136.48   104.64   106.89         110.08
27            225.60             176.72   176.72   176.72         176.72
28            225.60             158.71   125.28   127.64         130.99
29            225.60             185.56   185.56   185.56         185.56
30            154.03             182.52   144.07   146.79         150.64
31            213.39             213.39   213.39   213.39         213.39
32            187.92             222.67   175.77   179.08         183.78
33            260.34             260.34   260.34   260.34         260.34
34            225.50             267.21   210.92   214.90         220.54
35            312.41             312.41   312.41   312.41         312.41

    zapatero
0      71.72
1      69.94
2      68.11
3      75.20
4      73.33
5      71.41
6      78.28
7      76.34
8      74.34
9      81.57
10     79.55
11     77.46
12     81.57
13     77.46
14     84.75
15     80.48
16     88.06
17     83.62
18     91.75
19     87.10
20     91.75
21     89.49
22     91.75
23     95.60
24     99.33
25    103.20
26    108.36
27    176.72
28    129.18
29    185.56
30    148.56
31    213.39
32    181.24
33    260.34
34    217.49
35    312.41

[36 rows x 89 columns]

In [197]:
salarios_redondeado.to_csv('Datos.csv', index=False)