<h2><font color="#1D4089" size=8>Análisis exploratorio sobre diversos salarios mínimos en México.</font><h2>
    
<br><br>
<div sytle="text-align: right">
<font color="#1D4089" size=3>Jaime Alberto Suarez Moctezuma</font><br>
<font color="#1D4089" size=3>Analisis exploratorio inicial de los salarios mínimos</font><br>

<h2><font color="#1D4089" size=5>Explorando los datos...</font><h2>

En esta primera sección se ubican las funciones básicas para la carga de los datos que se utilizan para este proyecto.

El conjunto de datos empleados para este proyecto fueron extraídos de la página ["Datos abiertos de México: Salario mínimo 2023"](https://datos.gob.mx/busca/dataset/salario-minimo-2023) de datos.gob, los cuales se encuentran como ["Salarios Mínimos Generales y Profesionales 2009-2023 Zonas"](https://datos.gob.mx/busca/dataset/salario-minimo-2023/resource/89f07954-6ccd-4f97-8fb4-c644573e9f92).

<h1><font color="#1D4089" size=5>Carga del conjunto de datos</font><h1>

Vamos a emplear los datos descargados en la sección de "Explorando los datos".

In [289]:
#Importamos las librerias necesarias
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [290]:
#Lectura de datos en Python. 
salarios = pd.read_csv("C:/Users/suare/Downloads/Salarios_Minimos_Generales_y_Profesionales_2009_2023_Zonas.csv") #Nos dirije al archivo.

In [291]:
#Observamos la estructura de los datos.
salarios.head()

,inicio_vigencia,zona,salario_minimo_general,albanileria,archivista,boticas,buldozer,cajero,cajista,cantinero,...,talabartero,tablajero,tapicero_autos,tapicero_muebles,trabajador_hogar,trabajador_social,vaquero,velador,vendedor_piso,zapatero
0,01/01/2009,a,54.80,79.87,76.35,69.50,84.13,70.84,75.41,72.49,...,74.47,74.47,75.76,75.76,NaN,90.34,69.27,70.73,72.84,71.72
1,01/01/2009,b,53.26,77.81,74.29,67.65,81.74,69.11,73.52,70.53,...,72.47,72.47,73.93,73.93,NaN,87.84,67.47,68.70,70.99,69.94
2,01/01/2009,c,51.95,75.71,72.24,65.94,79.61,67.35,71.42,68.70,...,70.46,70.46,71.88,71.88,NaN,85.56,65.34,67.17,68.99,68.11
3,01/01/2010,a,57.46,83.74,NaN,72.87,88.21,74.28,79.07,76.01,...,78.08,78.08,79.43,79.43,NaN,94.72,72.63,74.16,76.37,75.20
4,01/01/2010,b,55.84,81.58,NaN,70.93,85.70,72.46,77.09,73.95,...,75.98,75.98,77.52,77.52,NaN,92.10,70.74,72.03,74.43,73.33

<h1><font color="#1D4089" size=5>Exploración de los datos</font><h1>

In [292]:
#Visualizamos las columnas de los datos 
salarios.columns

Index(['inicio_vigencia', 'zona', 'salario_minimo_general', 'albanileria',
       'archivista', 'boticas', 'buldozer', 'cajero', 'cajista', 'cantinero',
       'carpintero_obra', 'carpintero_muebles', 'cepilladora', 'cocinero',
       'colchones', 'mosaico', 'contador', 'yesero', 'fierrero',
       'cortador_calzado', 'costurero_taller', 'costurero_domicilio',
       'chofer_acomodador', 'chofer_camion', 'chofer_camioneta', 'chofer_grua',
       'draga', 'ebanista', 'electricista_instalaciones', 'electricista_autos',
       'electricista_motores', 'gondola', 'bodega', 'enfermero_auxiliar',
       'ferreterias', 'fogonero', 'gasolinero', 'herreria', 'hojalateria',
       'hornero', 'jornalero', 'joyero_oficial', 'joyero_domicilio',
       'laboratorios', 'linotipista', 'lubricador', 'maestro', 'manejador',
       'maquinaria_agricola', 'maquina_fundicion', 'maquina_troquelado',
       'maquina_madera', 'maquina_plastico', 'mecanico_fresador',
       'mecanico_rectificadora', 'mecanico_autos', 'mecanico_tornero',
       'moldero', 'montador_calzado', 'niquelado', 'peinador', 'perforista',
       'pintor_autos', 'pintor_casas', 'planchador', 'plomero',
       'prensa_offset', 'prensista', 'radiotecnico_electrico', 'recamarero',
       'recepcionista', 'refaccionaria_autos', 'reparador_hogar', 'reportero',
       'reportero_grafico', 'repostero', 'sastreria_domicilio', 'secretaria',
       'soldador_soplete', 'talabartero', 'tablajero', 'tapicero_autos',
       'tapicero_muebles', 'trabajador_hogar', 'trabajador_social', 'vaquero',
       'velador', 'vendedor_piso', 'zapatero'],
      dtype='object')

In [293]:
#Reafirmamos la información del conjunto de datos.
salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 89 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   inicio_vigencia             36 non-null     object
 1   zona                        36 non-null     object
 2   salario_minimo_general      36 non-null     float64
 3   albanileria                 36 non-null     float64
 4   archivista                  3 non-null      float64
 5   boticas                     36 non-null     float64
 6   buldozer                    36 non-null     float64
 7   cajero                      36 non-null     float64
 8   cajista                     16 non-null     float64
 9   cantinero                   36 non-null     float64
 10  carpintero_obra             23 non-null     float64
 11  carpintero_muebles          36 non-null     float64
 12  cepilladora                 3 non-null      float64
 13  cocinero                    36 non-null     float64
 14  colchones                   36 non-null     float64
 15  mosaico                     36 non-null     float64
 16  contador                    3 non-null      float64
 17  yesero                      36 non-null     float64
 18  fierrero                    3 non-null      float64
 19  cortador_calzado            36 non-null     float64
 20  costurero_taller            36 non-null     float64
 21  costurero_domicilio         36 non-null     float64
 22  chofer_acomodador           36 non-null     float64
 23  chofer_camion               36 non-null     float64
 24  chofer_camioneta            36 non-null     float64
 25  chofer_grua                 36 non-null     float64
 26  draga                       36 non-null     float64
 27  ebanista                    36 non-null     float64
 28  electricista_instalaciones  36 non-null     float64
 29  electricista_autos          36 non-null     float64
 30  electricista_motores        36 non-null     float64
 31  gondola                     36 non-null     float64
 32  bodega                      36 non-null     float64
 33  enfermero_auxiliar          16 non-null     float64
 34  ferreterias                 36 non-null     float64
 35  fogonero                    36 non-null     float64
 36  gasolinero                  36 non-null     float64
 37  herreria                    36 non-null     float64
 38  hojalateria                 36 non-null     float64
 39  hornero                     9 non-null      float64
 40  jornalero                   6 non-null      float64
 41  joyero_oficial              16 non-null     float64
 42  joyero_domicilio            16 non-null     float64
 43  laboratorios                3 non-null      float64
 44  linotipista                 16 non-null     float64
 45  lubricador                  36 non-null     float64
 46  maestro                     16 non-null     float64
 47  manejador                   36 non-null     float64
 48  maquinaria_agricola         36 non-null     float64
 49  maquina_fundicion           3 non-null      float64
 50  maquina_troquelado          3 non-null      float64
 51  maquina_madera              36 non-null     float64
 52  maquina_plastico            3 non-null      float64
 53  mecanico_fresador           3 non-null      float64
 54  mecanico_rectificadora      3 non-null      float64
 55  mecanico_autos              36 non-null     float64
 56  mecanico_tornero            14 non-null     float64
 57  moldero                     14 non-null     float64
 58  montador_calzado            36 non-null     float64
 59  niquelado                   14 non-null     float64
 60  peinador                    36 non-null     float64
 61  perforista                  16 non-null     float64
 62  pintor_autos                36 non-null     float64
 63  pintor_casas                36 non-null     float64
 64  planchador                  36 non-null     float64
 65  plomero                     36 non-null     float64
 66  prensa_offset               16 non-null     float64
 67  prensista                   16 non-null     float64
 68  radiotecnico_electrico      36 non-null     float64
 69  recamarero                  36 non-null     float64
 70  recepcionista               6 non-null      float64
 71  refaccionaria_autos         36 non-null     float64
 72  reparador_hogar             36 non-null     float64
 73  reportero                   36 non-null     float64
 74  reportero_grafico           36 non-null     float64
 75  repostero                   36 non-null     float64
 76  sastreria_domicilio         36 non-null     float64
 77  secretaria                  36 non-null     float64
 78  soldador_soplete            36 non-null     float64
 79  talabartero                 9 non-null      float64
 80  tablajero                   36 non-null     float64
 81  tapicero_autos              36 non-null     float64
 82  tapicero_muebles            36 non-null     float64
 83  trabajador_hogar            6 non-null      float64
 84  trabajador_social           36 non-null     float64
 85  vaquero                     36 non-null     float64
 86  velador                     36 non-null     float64
 87  vendedor_piso               36 non-null     float64
 88  zapatero                    36 non-null     float64
dtypes: float64(87), object(2)
memory usage: 25.2+ KB

<h1><font color="#1D4089" size=5>Tratamiento de los datos</font><h1>

Primero eliminamos los campos vacios (cantidades) que se encuentran en todo el conjunto de datos.

In [294]:
#Sacamos el promedio de la columna archivista
promedio_archivista = salarios['archivista'].mean()
print (promedio_archivista)

74.29333333333334

In [295]:
#Agregamos los datos faltantes con el promedio de la variable
salarios['archivista'] = salarios['archivista'].fillna(74.29333333333335)
#Confirmamos que hayan sido cargados
print(salarios['archivista'])

0     76.350000
1     74.290000
2     72.240000
3     74.293333
4     74.293333
5     74.293333
6     74.293333
7     74.293333
8     74.293333
9     74.293333
10    74.293333
11    74.293333
12    74.293333
13    74.293333
14    74.293333
15    74.293333
16    74.293333
17    74.293333
18    74.293333
19    74.293333
20    74.293333
21    74.293333
22    74.293333
23    74.293333
24    74.293333
25    74.293333
26    74.293333
27    74.293333
28    74.293333
29    74.293333
30    74.293333
31    74.293333
32    74.293333
33    74.293333
34    74.293333
35    74.293333
Name: archivista, dtype: float64

In [296]:
promedio_cajista = salarios['cajista'].mean()
print (promedio_cajista)

80.188125

In [297]:
salarios['cajista'] = salarios['cajista'].fillna(80.188125)

In [298]:
promedio_co = salarios['carpintero_obra'].mean()
print (promedio_co)

141.60391304347826

In [299]:
salarios['carpintero_obra'] = salarios ['carpintero_obra'].fillna(141.60391304347826)

In [300]:
promedio_cepilladora = salarios['cepilladora'].mean()
print (promedio_cepilladora)

73.85666666666667

In [301]:
salarios['cepilladora'] = salarios['cepilladora'].fillna(73.85666666666667)

In [302]:
promedio_contador = salarios['contador'].mean()
print (promedio_contador)

74.89333333333333

In [303]:
salarios['contador'] = salarios['contador'].fillna(74.89333333333333)

In [304]:
promedio_fierrero = salarios['fierrero'].mean()
print (promedio_fierrero)

75.56

In [305]:
salarios['fierrero'] = salarios['fierrero'].fillna(75.56)

In [306]:
promedio_enfermeroaux = salarios['enfermero_auxiliar'].mean()
print (promedio_enfermeroaux)

79.12312499999999

In [307]:
salarios['enfermero_auxiliar'] = salarios['enfermero_auxiliar'].fillna(79.12312499999999)

In [308]:
promedio_hornero = salarios['hornero'].mean()
print (promedio_hornero)

81.9588888888889

In [309]:
salarios['hornero'] = salarios['hornero'].fillna(81.9588888888889)

In [310]:
promedio_jornalero = salarios['jornalero'].mean()
print (promedio_jornalero)

229.38

In [311]:
salarios['jornalero'] = salarios['jornalero'].fillna(229.38)

In [312]:
promedio_joyeroof = salarios['joyero_oficial'].mean()
print (promedio_joyeroof)

79.12312499999999

In [313]:
salarios['joyero_oficial'] = salarios['joyero_oficial'].fillna(79.12312499999999)

In [314]:
promedio_joyerodom = salarios['joyero_domicilio'].mean()
print (promedio_joyerodom)

82.56

In [315]:
salarios['joyero_domicilio'] = salarios['joyero_domicilio'].fillna(82.56)

In [316]:
promedio_laboratorios = salarios['laboratorios'].mean()
print (promedio_laboratorios)

71.44666666666666

In [317]:
salarios['laboratorios'] = salarios['laboratorios'].fillna(71.44666666666666)

In [318]:
promedio_linotipista = salarios['linotipista'].mean()
print (promedio_linotipista)

88.173125

In [319]:
salarios['linotipista'] = salarios['linotipista'].fillna(88.173125)

In [320]:
promedio_maestro = salarios['maestro'].mean()
print (promedio_maestro)

89.7425

In [321]:
salarios['maestro'] = salarios['maestro'].fillna(89.7425)

In [322]:
promedio_maquinafun = salarios['maquina_fundicion'].mean()
print (promedio_maquinafun)

70.57333333333332

In [323]:
salarios['maquina_fundicion'] = salarios['maquina_fundicion'].fillna(70.57333333333332)

In [324]:
promedio_maquinatro = salarios['maquina_troquelado'].mean()
print (promedio_maquinatro)

70.19666666666667

In [325]:
salarios['maquina_troquelado'] = salarios['maquina_troquelado'].fillna(70.19666666666667)

In [326]:
promedio_maquinapla = salarios['maquina_plastico'].mean()
print (promedio_maquinapla)

68.86666666666667

In [327]:
salarios['maquina_plastico'] = salarios['maquina_plastico'].fillna(68.86666666666667)

In [328]:
promedio_mecaniofre = salarios['mecanico_fresador'].mean()
print (promedio_mecaniofre)

78.46333333333332

In [329]:
salarios['mecanico_fresador'] = salarios['mecanico_fresador'].fillna(78.46333333333332)

In [330]:
promedio_mecanicorec = salarios['mecanico_rectificadora'].mean()
print (promedio_mecanicorec)

75.62666666666667

In [331]:
salarios['mecanico_rectificadora'] = salarios['mecanico_rectificadora'].fillna(75.62666666666667)

In [332]:
promedio_mecanicotor = salarios['mecanico_tornero'].mean()
print (promedio_mecanicotor)

81.59500000000001

In [333]:
salarios['mecanico_tornero'] = salarios['mecanico_tornero'].fillna(81.59500000000001)

In [334]:
promedio_moldero = salarios['moldero'].mean()
print (promedio_moldero)

79.6907142857143

In [335]:
salarios['moldero'] = salarios['moldero'].fillna(79.6907142857143)

In [336]:
promedio_niquelado = salarios['niquelado'].mean()
print (promedio_niquelado)

79.25

In [337]:
salarios['niquelado'] = salarios['niquelado'].fillna(79.25)

In [338]:
promedio_perforista = salarios['perforista'].mean()
print (promedio_perforista)

83.851875

In [339]:
salarios['perforista'] = salarios['perforista'].fillna(83.851875)

In [340]:
promedio_prensaoff = salarios['prensa_offset'].mean()
print (promedio_prensaoff)

84.93687499999999

In [341]:
salarios['prensa_offset'] = salarios['prensa_offset'].fillna(84.93687499999999)

In [342]:
promedio_prensista = salarios['prensista'].mean()
print (promedio_prensista)

79.12312499999999

In [343]:
salarios['prensista'] = salarios['prensista'].fillna(79.12312499999999)

In [344]:
promedio_recepcionista = salarios['recepcionista'].mean()
print (promedio_recepcionista)

71.13666666666667

In [345]:
salarios['recepcionista'] = salarios['recepcionista'].fillna(71.13666666666667)

In [346]:
promedio_talabartero = salarios['talabartero'].mean()
print (promedio_talabartero)

75.84777777777778

In [347]:
salarios['talabartero'] = salarios['talabartero'].fillna(75.84777777777778)

In [348]:
promedio_trabajadorhog = salarios['trabajador_hogar'].mean()
print (promedio_trabajadorhog)

225.59833333333333

In [349]:
salarios['trabajador_hogar'] = salarios['trabajador_hogar'].fillna(225.59833333333333)

In [350]:
#Confirmamos que no existan datos vacíos, para ello empleamos la función info. 
salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 89 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   inicio_vigencia             36 non-null     object
 1   zona                        36 non-null     object
 2   salario_minimo_general      36 non-null     float64
 3   albanileria                 36 non-null     float64
 4   archivista                  36 non-null     float64
 5   boticas                     36 non-null     float64
 6   buldozer                    36 non-null     float64
 7   cajero                      36 non-null     float64
 8   cajista                     36 non-null     float64
 9   cantinero                   36 non-null     float64
 10  carpintero_obra             36 non-null     float64
 11  carpintero_muebles          36 non-null     float64
 12  cepilladora                 36 non-null     float64
 13  cocinero                    36 non-null     float64
 14  colchones                   36 non-null     float64
 15  mosaico                     36 non-null     float64
 16  contador                    36 non-null     float64
 17  yesero                      36 non-null     float64
 18  fierrero                    36 non-null     float64
 19  cortador_calzado            36 non-null     float64
 20  costurero_taller            36 non-null     float64
 21  costurero_domicilio         36 non-null     float64
 22  chofer_acomodador           36 non-null     float64
 23  chofer_camion               36 non-null     float64
 24  chofer_camioneta            36 non-null     float64
 25  chofer_grua                 36 non-null     float64
 26  draga                       36 non-null     float64
 27  ebanista                    36 non-null     float64
 28  electricista_instalaciones  36 non-null     float64
 29  electricista_autos          36 non-null     float64
 30  electricista_motores        36 non-null     float64
 31  gondola                     36 non-null     float64
 32  bodega                      36 non-null     float64
 33  enfermero_auxiliar          36 non-null     float64
 34  ferreterias                 36 non-null     float64
 35  fogonero                    36 non-null     float64
 36  gasolinero                  36 non-null     float64
 37  herreria                    36 non-null     float64
 38  hojalateria                 36 non-null     float64
 39  hornero                     36 non-null     float64
 40  jornalero                   36 non-null     float64
 41  joyero_oficial              36 non-null     float64
 42  joyero_domicilio            36 non-null     float64
 43  laboratorios                36 non-null     float64
 44  linotipista                 36 non-null     float64
 45  lubricador                  36 non-null     float64
 46  maestro                     36 non-null     float64
 47  manejador                   36 non-null     float64
 48  maquinaria_agricola         36 non-null     float64
 49  maquina_fundicion           36 non-null     float64
 50  maquina_troquelado          36 non-null     float64
 51  maquina_madera              36 non-null     float64
 52  maquina_plastico            36 non-null     float64
 53  mecanico_fresador           36 non-null     float64
 54  mecanico_rectificadora      36 non-null     float64
 55  mecanico_autos              36 non-null     float64
 56  mecanico_tornero            36 non-null     float64
 57  moldero                     36 non-null     float64
 58  montador_calzado            36 non-null     float64
 59  niquelado                   36 non-null     float64
 60  peinador                    36 non-null     float64
 61  perforista                  36 non-null     float64
 62  pintor_autos                36 non-null     float64
 63  pintor_casas                36 non-null     float64
 64  planchador                  36 non-null     float64
 65  plomero                     36 non-null     float64
 66  prensa_offset               36 non-null     float64
 67  prensista                   36 non-null     float64
 68  radiotecnico_electrico      36 non-null     float64
 69  recamarero                  36 non-null     float64
 70  recepcionista               36 non-null     float64
 71  refaccionaria_autos         36 non-null     float64
 72  reparador_hogar             36 non-null     float64
 73  reportero                   36 non-null     float64
 74  reportero_grafico           36 non-null     float64
 75  repostero                   36 non-null     float64
 76  sastreria_domicilio         36 non-null     float64
 77  secretaria                  36 non-null     float64
 78  soldador_soplete            36 non-null     float64
 79  talabartero                 36 non-null     float64
 80  tablajero                   36 non-null     float64
 81  tapicero_autos              36 non-null     float64
 82  tapicero_muebles            36 non-null     float64
 83  trabajador_hogar            36 non-null     float64
 84  trabajador_social           36 non-null     float64
 85  vaquero                     36 non-null     float64
 86  velador                     36 non-null     float64
 87  vendedor_piso               36 non-null     float64
 88  zapatero                    36 non-null     float64
dtypes: float64(87), object(2)
memory usage: 25.2+ KB

<h1><font color="#1D4089" size=5>Uniformamos los valores de la columna zona</font><h1>

En la columna zona podemos observar la utilización de cadenas de caracteres, aunque también podemos encontrar únicamente un carácter, por lo cual, cambiaremos las cadenas por letras que puedan agruparlos de mejor manera.

In [351]:
#Imprimimos la columna zona para poder visualizar los registros que vamos a modificar. 
print(salarios['zona'])

0                a
1                b
2                c
3                a
4                b
5                c
6                a
7                b
8                c
9                a
10               b
11               c
12               a
13               b
14               a
15               b
16               a
17               b
18               a
19               b
20               a
21               b
22           unica
23           unica
24           unica
25           unica
26    restodelpais
27            zlfn
28    restodelpais
29            zlfn
30    restodelpais
31            zlfn
32    restodelpais
33            zlfn
34    restodelpais
35            zlfn
Name: zona, dtype: object

In [352]:
#Cambiamos las cadenas de caracteres ubicadas en la columna zona por letras.
#Para ello creamos un diccionario de mapeo. 
mapeo = {
    'unica': 'u',
    'restodelpais': 'r',
    'zlfn': 'z'
}

salarios['zona'] = salarios['zona'].replace(mapeo)   #Aplicamos el reemplazo utilizando el método 'replace'
salarios.reset_index(drop=True, inplace=True)
print(salarios['zona'])

0     a
1     b
2     c
3     a
4     b
5     c
6     a
7     b
8     c
9     a
10    b
11    c
12    a
13    b
14    a
15    b
16    a
17    b
18    a
19    b
20    a
21    b
22    u
23    u
24    u
25    u
26    r
27    z
28    r
29    z
30    r
31    z
32    r
33    z
34    r
35    z
Name: zona, dtype: object

<h1><font color="#1D4089" size=5>Definimos dos decimales los salarios</font><h1>

Durante el proceso de eliminación de datos nulos, se encontraron cantidades con diferentes valores decimales. Para garantizar la consistencia en el análisis, hemos optado por limitar todas las cantidades a dos decimales. De esta manera, trabajaremos con una precisión uniforme y facilitaremos la interpretación de los resultados.

In [353]:
salarios_redondeado = salarios.round(2)
print(salarios_redondeado)

   inicio_vigencia zona  salario_minimo_general  albanileria  archivista  \
0       01/01/2009    a                   54.80        79.87       76.35
1       01/01/2009    b                   53.26        77.81       74.29
2       01/01/2009    c                   51.95        75.71       72.24
3       01/01/2010    a                   57.46        83.74       74.29
4       01/01/2010    b                   55.84        81.58       74.29
5       01/01/2010    c                   54.47        79.38       74.29
6       01/01/2011    a                   59.82        87.17       74.29
7       01/01/2011    b                   58.13        84.92       74.29
8       01/01/2011    c                   56.70        82.63       74.29
9       01/01/2012    a                   62.33        90.83       74.29
10      01/01/2012    b                   60.57        88.49       74.29
11      01/01/2012    c                   59.08        86.10       74.29
12      27/11/2012    a                   62.33        90.83       74.29
13      27/11/2012    b                   59.08        86.10       74.29
14      01/01/2013    a                   64.76        94.37       74.29
15      01/01/2013    b                   61.38        89.46       74.29
16      01/01/2014    a                   67.29        98.05       74.29
17      01/01/2014    b                   63.77        92.95       74.29
18      01/01/2015    a                   70.10       102.20       74.29
19      01/01/2015    b                   66.45        96.85       74.29
20      01/04/2015    a                   70.10       102.20       74.29
21      01/04/2015    b                   68.28        99.51       74.29
22      01/10/2015    u                   70.10       102.20       74.29
23      01/01/2016    u                   73.04       106.49       74.29
24      01/01/2017    u                   80.04       110.64       74.29
25      01/12/2017    u                   88.36       114.95       74.29
26      01/01/2019    r                  102.68       120.70       74.29
27      01/01/2019    z                  176.72       176.72       74.29
28      01/01/2020    r                  123.22       142.14       74.29
29      01/01/2020    z                  185.56       185.56       74.29
30      01/01/2021    r                  141.70       163.46       74.29
31      01/01/2021    z                  213.39       213.39       74.29
32      01/01/2022    r                  172.87       199.42       74.29
33      01/01/2022    z                  260.34       260.34       74.29
34      01/01/2023    r                  207.44       239.31       74.29
35      01/01/2023    z                  312.41       312.41       74.29

    boticas  buldozer  cajero  cajista  cantinero  ...  talabartero  \
0     69.50     84.13   70.84    75.41      72.49  ...        74.47
1     67.65     81.74   69.11    73.52      70.53  ...        72.47
2     65.94     79.61   67.35    71.42      68.70  ...        70.46
3     72.87     88.21   74.28    79.07      76.01  ...        78.08
4     70.93     85.70   72.46    77.09      73.95  ...        75.98
5     69.14     83.47   70.62    74.88      72.03  ...        73.88
6     75.86     91.83   77.33    82.31      79.13  ...        81.28
7     73.84     89.21   75.43    80.25      76.98  ...        79.10
8     71.97     86.89   73.52    77.95      74.98  ...        76.91
9     79.05     95.69   80.58    85.77      82.45  ...        75.85
10    76.94     92.96   78.60    83.62      80.21  ...        75.85
11    74.99     90.54   76.61    81.22      78.13  ...        75.85
12    79.05     95.69   80.58    85.77      82.45  ...        75.85
13    74.99     90.54   76.61    81.22      78.13  ...        75.85
14    82.13     99.42   83.72    89.12      85.67  ...        75.85
15    77.91     94.07   79.60    84.39      81.18  ...        75.85
16    85.33    103.30   86.99    80.19      89.01  ...        75.85
17    80.95     97.74   82.70    80.19      84.35  ...        75.85
18    88.90    107.65   90.65    80.19      92.75  ...        75.85
19    84.35    101.85   86.20    80.19      87.90  ...        75.85
20    88.90    107.65   90.65    80.19      92.75  ...        75.85
21    86.67    104.65   88.57    80.19      90.31  ...        75.85
22    88.90    107.65   90.65    80.19      92.75  ...        75.85
23    92.63    112.17   94.46    80.19      96.65  ...        75.85
24    96.24    116.54   98.14    80.19     100.42  ...        75.85
25    99.99    121.09  101.97    80.19     104.34  ...        75.85
26   104.99    127.14  107.07    80.19     109.56  ...        75.85
27   176.72    176.72  176.72    80.19     176.72  ...        75.85
28   125.64    148.90  127.83    80.19     130.44  ...        75.85
29   185.56    185.56  185.56    80.19     185.56  ...        75.85
30   144.49    171.24  147.00    80.19     150.01  ...        75.85
31   213.39    213.39  213.39    80.19     213.39  ...        75.85
32   176.28    208.91  179.34    80.19     183.01  ...        75.85
33   260.34    260.34  260.34    80.19     260.34  ...        75.85
34   211.53    250.70  215.21    80.19     219.61  ...        75.85
35   312.41    312.41  312.41    80.19     312.41  ...        75.85

    tablajero  tapicero_autos  tapicero_muebles  trabajador_hogar  \
0       74.47           75.76             75.76            225.60
1       72.47           73.93             73.93            225.60
2       70.46           71.88             71.88            225.60
3       78.08           79.43             79.43            225.60
4       75.98           77.52             77.52            225.60
5       73.88           75.37             75.37            225.60
6       81.28           82.69             82.69            225.60
7       79.10           80.70             80.70            225.60
8       76.91           78.46             78.46            225.60
9       84.69           86.16             86.16            225.60
10      82.42           84.09             84.09            225.60
11      80.14           81.76             81.76            225.60
12      84.69           86.16             86.16            225.60
13      80.14           81.76             81.76            225.60
14      87.99           89.52             89.52            225.60
15      83.27           84.95             84.95            225.60
16      91.42           93.01             93.01            225.60
17      86.52           88.26             88.26            225.60
18      95.25           96.90             96.90            225.60
19      90.15           92.00             92.00            225.60
20      95.25           96.90             96.90            225.60
21      92.63           94.53             94.53            225.60
22      95.25           96.90             96.90            225.60
23      99.25          100.97            100.97            225.60
24     103.12          104.91            104.91            225.60
25     107.14          109.00            109.00            225.60
26     112.50          114.45            114.45            225.60
27     176.72          176.72            176.72            225.60
28     133.53          135.58            135.58            225.60
29     185.56          185.56            185.56            225.60
30     153.56          155.92            155.92            154.03
31     213.39          213.39            213.39            213.39
32     187.34          190.22            190.22            187.92
33     260.34          260.34            260.34            260.34
34     224.81          228.27            228.27            225.50
35     312.41          312.41            312.41            312.41

    trabajador_social  vaquero  velador  vendedor_piso  zapatero
0               90.34    69.27    70.73          72.84     71.72
1               87.84    67.47    68.70          70.99     69.94
2               85.56    65.34    67.17          68.99     68.11
3               94.72    72.63    74.16          76.37     75.20
4               92.10    70.74    72.03          74.43     73.33
5               89.71    68.51    70.43          72.34     71.41
6               98.60    75.61    77.20          79.50     78.28
7               95.88    73.64    74.98          77.48     76.34
8               93.39    71.32    73.32          75.31     74.34
9              102.74    78.79    80.44          82.84     81.57
10              99.91    76.73    78.13          80.73     79.55
11              97.31    74.32    76.40          78.47     77.46
12             102.74    78.79    80.44          82.84     81.57
13              97.31    74.32    76.40          78.47     77.46
14             106.75    81.86    83.58          86.07     84.75
15             101.11    77.22    79.38          81.53     80.48
16             110.91    85.05    86.84          89.43     88.06
17             105.05    80.23    82.48          84.71     83.62
18             115.55    88.60    90.50          93.20     91.75
19             109.45    83.60    85.95          88.25     87.10
20             115.55    88.60    90.50          91.20     91.75
21             112.46    85.90    88.31          90.67     89.49
22             115.55    88.60    90.50          93.20     91.75
23             120.40    92.32    94.30          97.11     95.60
24             125.10    95.92    97.98         100.90     99.33
25             129.98    99.60   101.80         104.84    103.20
26             136.48   104.64   106.89         110.08    108.36
27             176.72   176.72   176.72         176.72    176.72
28             158.71   125.28   127.64         130.99    129.18
29             185.56   185.56   185.56         185.56    185.56
30             182.52   144.07   146.79         150.64    148.56
31             213.39   213.39   213.39         213.39    213.39
32             222.67   175.77   179.08         183.78    181.24
33             260.34   260.34   260.34         260.34    260.34
34             267.21   210.92   214.90         220.54    217.49
35             312.41   312.41   312.41         312.41    312.41

[36 rows x 89 columns]

<h1><font color="#1D4089" size=5>Nuevo archivo</font><h1>

Para el desarrollo de modelos de predicción, utilizaremos un nuevo archivo CSV, el cual podrás descargar ejecutando la siguiente línea de código. Este archivo contiene los datos necesarios para construir y evaluar nuestros modelos, permitiéndonos obtener predicciones precisas y tomar decisiones informadas.

In [355]:
#Descargamos el nuevo archivo.csv
salarios_redondeado.to_csv('Datos.csv', index=False)