# Analisis exploratorio Salarios en México.

## Explorando los datos.

En esta primera sección se ubican las funciones básicas para la carga de los datos que se utilizan para este proyecto.

El conjunto de datos empleados para este proyecto fueron extraidos de la página ["Datos abiertos de México: Salario mínimo 2023"](https://datos.gob.mx/busca/dataset/salario-minimo-2023) de datos.gob.

## Descripción de los datos

## Carga de los conjunto de datos

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Lectura de datos en Python. 
zonas = pd.read_csv('C:/Users/suare/Downloads/Zonas_Salariales_2023.csv')
Capital = pd.read_csv('C:/Users/suare/Downloads/Salarios_Minimos_Generales_y_Profesionales_1966_2023_Capital.csv')
promedio = pd.read_csv('C:/Users/suare/Downloads/Salarios_Minimos_Generales_1992_2023_Zonas.csv')

## Exploración de los datos

In [25]:
# ¿Qué columnas tienen los datos de zonas.
zonas.columns

Index(['clave_agee', 'nombre_agee', 'clave_agem', 'nombre_agem',
       'zona_salario'],
      dtype='object')

In [26]:
# ¿Qué tamaño tienen los datos de zonas.
zonas.shape

(2476, 5)

In [27]:
# Comprobando si existen datos nulos.
zonas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2476 entries, 0 to 2475
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clave_agee    2476 non-null   int64
 1   nombre_agee   2476 non-null   object
 2   clave_agem    2474 non-null   float64
 3   nombre_agem   2476 non-null   object
 4   zona_salario  2476 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 96.8+ KB

In [28]:
# ¿Cómo se distribuyen las variables númericas?
zonas.describe()

        clave_agee   clave_agem
count  2476.000000  2474.000000
mean     19.185784   108.611156
std       7.381126   132.194486
min       1.000000     1.000000
25%      14.000000    23.000000
50%      20.000000    56.000000
75%      24.000000   127.000000
max      32.000000   570.000000